

// Colors
$background-clr: #f7f5ff;
$primary-clr: #b0b5ed;
$secondary-clr: #e4f4e3;
$terciary-clr: #c5dbc4;
$highlight-clr: #e1d3f8;
$white-clr: white;
$black-clr: black;

// Font Family & Font links
  //  font-family: "Poppins", serif;
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Baskervville+SC&family=Gamja+Flower&family=Leckerli+One&family=Marck+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$arial: 'Arial', sans-serif;
$poppins: "Poppins", serif;
